$primaryColor: #3C3C9A;
$backgroundColor: #FAFAFA;
$primaryTextColor: #2C2C2C;
$secondaryTextColor: #FFF;

$containerWidth: 100%;

.homePage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    height: 90vh;
    width: $containerWidth;
}

.imgContainer{
    width: 50vw;
}

.img{
    width: $containerWidth/1.2;
}

.textPlate{
    width: $containerWidth/2;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
}

.bold{
    font-size: 7vh;
    margin-bottom: 0;
}